
  .gameBoard {
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
  }

  .gameBoard > div {
    height: 100%;
    width: 100%;
    margin: 0px
  }

  .border {
    background-color: #ebf7f4;
  }

  .playersPnl {
    background-color : #78C2AD;
    bottom: 0px;
    height: 15%;
  }
  
  .game {
    height: 90%;
    margin-top: 5%;
  }
  
  .game td {
    width: 33.333%;
    border: 6px solid #222;
  }
  
  .game td {
    border: 6px solid #222;
  }

  .game td:first-of-type {
    border-left-color: transparent;
    border-top-color: transparent;
  }
  
  .game td:nth-of-type(2) {
    border-top-color: transparent;
  }
  
  .game td:nth-of-type(3) {
    border-right-color: transparent;
    border-top-color: transparent;
  }
  
  .game tr:nth-of-type(3) td {
    border-bottom-color: transparent;
  }
