.fleetGrid {
    width: 400px;
    height: 400px;
    border-spacing: initial;
    margin: 0 auto
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.gridCellHeaderEmpty {
    border-top: none;
    background-color: white;
    height: 35px;
    width: 35px;
}

.gridCellHeader {
    background-color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 3vmin;
    display: inline-block;
    height: 35px;
    width: 35px;
    border: 1px solid black;
    border-top: none;
}

.gridRowNumber {
    background-color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 3vmin;
    display: inline-block;
    height: 35px;
    width: 35px;
    border: 1px solid black;
    border-left: none;
}

.cell {
    vertical-align: top;
    height: 35px;
    width: 35px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.075);
    border: 1px solid black;
}

.empty:hover {
    cursor: pointer;
}

.selected {
    background-color: #78c2ada6
}

.destroyed {
    background-color:#f53d45;
}

.moved {
    background-color:  #FF7851;
}

.readOnly {
    cursor: not-allowed;
}

.outOfBoundary { 
    background-color  :#F3969A;
    cursor: default;
}
